@import "./modules/variables";
@import "swiper/swiper.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $bgColor;
    font-family: $fontStack;
    color: $textColor;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: calc(100% - 3rem);

    @include breakpoint(lar) {
        margin-left: auto;
        margin-right: auto;
    }
}
@import "./modules/Nav";
@import "./modules/HeroSlide";
@import "./modules/Movie";
