.movie__container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.movie {
    width: 215px;
    margin: 1rem;
    background: lighten($bgColor, 5%);
    border-radius: 3px;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &__img-container {
        padding: 1rem;
        height: 300px;
        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__info {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1.25rem;

        .info__title {
            margin: 0;
            font-size: 0.93rem;
            line-height: 1.2;
            color: $textColor;
        }

        .info__year {
            font-size: 0.7rem;
            color: rgba($textColor, 0.75);
            font-weight: 600;
        }

        .info__vote-average {
            margin-left: 1rem;
            border: 1px solid transparent;
            border-radius: 5px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            font-size: 0.78rem;
            background: $bgColor;
        }
    }

    .movie--over {
        background: $bgColorWhite;
        color: $bgColor;
        padding: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
        overflow: auto;
        max-height: 100%;
        user-select: none;

        &__title {
            font-size: 1rem;
            margin: 0;
        }
        &__overview {
            font-size: 0.89rem;
            line-height: 1.3;
        }
    }

    &:hover .movie--over {
        transform: translateY(0);
    }
}
