header {
    z-index: 1000;
    width: 100%;
    background: lighten($bgColor, 30%);
    height: 6rem;
    margin-bottom: 3rem;
}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search__bar {
    border-radius: 50px;
    border: 2px solid $bgColor;
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    color: $bgColorWhite;
    background: transparent;
    padding: 0.5rem 1.5rem;

    &::placeholder {
        color: $bgColor;
    }
}
