@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

// COLORS
$bgColor: rgb(49, 19, 104);
$textColor: rgb(247, 247, 247);

// TYPOGRAPHY
$fontStack: "Poppins", sans-serif;
